#icon-update-dados-user{
    cursor: pointer;
}

.main-model-crud-users{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 1px black;
    height: 80vh;
    background-color: #FFFFFF;
}

.main-model-crud-users header{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    padding: 10px;
    gap: 30px;
}

.main-model-crud-users button{
    width: 400px;
    height: 100px;
    font-size: 30px;
    border: 1px solid white;
    font-weight: 900;
}

#remove-user:hover{
    background-color: aliceblue;
}

.user-cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
    flex-wrap: wrap;
    margin-left: 9vh;
    border: 1px solid green;
}

.user-card{
    box-shadow: 2px 2px 2px 2px black;
    width: 300px;
    margin: 10px;
}

span{
    display: flex;
    justify-content: space-between;
}

.search-input-id-model{
    width: 30vh;
    height: 40px;
    border: 1px solid black;
    display: flex;
}

.card-body.ouro-bg {
    background: linear-gradient(to right, white,white,white,white,white,white, gold);
    color: black;
    font-weight: bold;
}

.card-body.prata-bg {
    background: linear-gradient(to right, white,white,white,white,white,white, silver);
    color: black;
    font-weight: bold;
}

.card-body.vip-bg {
    background: linear-gradient(to right, white,white,white,white,white,white, purple);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.card-body.bronze-bg {
    background: linear-gradient(to right, white,white,white,white,white,white, #cd7f32);
    color: black;
    font-weight: bold;
}

.card-body.sem-plano-bg {
    background: linear-gradient(to right, white,white,white,white,white,white, dodgerblue);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#search-id-user{
    cursor: pointer;
}

.header-inputs-containers{
    width: 50vh;
    display: flex;justify-content: center;
    align-items: center;
}

.search-input-id-model{
   height: 5vh;
   font-weight: bold;
}

.header-inputs-containers i{
    color: rgb(22, 51, 216);
    border: 1px solid black;
    height: 48px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 40px;
    border-bottom-right-radius: 120px;
    font-weight: bold;
}

#form-modal{
    width: 60vh;
    height: 60vh;
    box-shadow: 0 10px 10px darkgrey;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-left: 30%;
    margin-top: 30px;
}

#btn-modal-form{
    width: 20vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

.closeFormX{
    cursor: pointer;
}

.modalCloseFormeAddPaciente{
    display: flex;
    justify-content: right;
}