.container-fluid {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
  }
  
  .formularioLogin {
    width: 300px;
    padding: 10px;
  }
  
  .formularioLogin img {
    width: 20%;
    height: auto;
  }
  
  .formularioLogin form {
    display: flex;
    flex-direction: column;
  }
  
  .group-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2{
    font-size: 40px;
    font-weight: bold;
  }
  
  .eye-icon i {
    padding: 0%;
    margin: 0%;
    width: 26px;
    display: flex;
    justify-content: flex-end;
  }
  
  input {
    width: 100%;
    margin-bottom: 10px;
  }

  .eye-createaccont{
    display: flex;
    justify-content: space-between;
  }
  
  button[type='submit']{
    width: 100px;
  }

  .loginGoogle {
    margin-top: 20px;
  }
  
  .imgHospital {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
  }
  
  .imgHospital img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  